<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>Latest Updates by Indian Government</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
<link href="./css/news_styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="navigation"><a class="active" href="/home">Home</a>
    <a href="/news">News</a>
    <a href="http://localhost:4000">Health Chat</a>
    <a href="/my_docs">My Docs</a>
    <a href="http://localhost:4242">Bill Payment</a>
    <a href="/logout" style="float:right">Logout</a></div>
    <div class="wrapper">
  <div class="clear"></div>
  <div class="page">
    <div class="main-banner"><img src="images/parliament.png" alt="banner" width="900" height="280" /></div>
    <div class="clear"></div>
    <div class="left-column">
      <div class="light-panel">
        <div class="light-panel-top"></div>
        <div class="light-panel-center">
          <h1>Important Links</h1>
          <ul>
            <li><a href="https://www.mohfw.gov.in/">+ Ministry of Health</a></li>
            <li><a href="https://www.mhrd.gov.in/">+ Ministry of Education</a></li>
            <li><a href="http://goidirectory.nic.in/index.php">+ Government of India Web Directory</a></li>
            <li class="no-border"><a href="https://www.india.gov.in/">+ National Portal of India</a></li>
          </ul>
        </div>
        <div class="light-panel-bottom"></div>
      </div>
      <div class="dark-panel">
        <div class="dark-panel-top"></div>
        <div class="dark-panel-center">
          <ul>
            <li>
              <h1>Latest Updates</h1>
            </li>
            <li class="date">09-03-2020</li>
            <li class="news">Cabinet Approves Mission Karmayogi:National Program for Civil Services Capacity Building approved in today’s cabinet will radically improve the Human Resource management practices in the Government. <br> It will use scale & state of the art infrastructure to augment the capacity of Civil Servants.</li>
            <li class="date">08-29-2020</li>
            <li class="news">Recovery rate from COVID-19 infection improves to 77.09 %: In the last 24 hours, more than 11 lakh 72 thousand samples were tested, taking  the total number of tests to more than 4.5 crore  <br />
              Death rate of Covid-19 in India has come down to 1.75 percent</li>
            <li class="date">05-26-2020</li>
            <li class="news-no-border">The Finance Minister of India made new announcements regarding several government schemes, as an initiative towards the loss faced due to Covid-19 outbreak in India. A relief package worth Rs 1.70 lakh crore will also be provided by the government to tackle the financial difficulties arising from Covid-19 outbreak under the PM Garib Kalyan Scheme.<br />
              The 21 days lockdown is expected to cost the Indian Economy an expense of around 9 lakh crores.</li>
          </ul>
        </div>
        <div class="dark-panel-bottom"></div>
      </div>
    </div>
    <div class="right-column">
      <div class="right-column-content">
        <div class="right-column-content-heading">
          <h1>Pradhan Mantri Jan Dhan Yojana</h1>
          
        </div>
        <div class="right-column-content-img-left"> <img src="images/pmjdy.jpg" alt="banner" width="190px" height="250px"/> </div>
        <div class="right-column-content-content">
          <p> Pradhan Mantri Jan Dhan Yojana is a National Mission on Financial Inclusion that provides an integrated approach to bring about a robust financial inclusion and ultimately provide banking services to all households in the country. With the outbreak of Covid-19 in India, the Finance Minister of India, Nirmala Sitharaman made an announcement to provide Rs. 500 per month to every Women Jan-Dhan Account Holders for the next three months.</p>
          <p> This announcement was made on 26th March 2020 as an initiative towards the loss caused by the outbreak.</p>
          <div class="button"><a href="#" >More Info</a></div>
        </div>
      </div>
      <div class="right-column-content">
        <div class="right-column-content-heading">
          <h1>Make in India</h1>
          
        </div>
        <div class="right-column-content-content">
          <p> PM Narendra Modi launched the ‘Make in India’ campaign that will facilitate investment, foster innovation, enhanced protection for intellectual property and build best in manufacturing infrastructure.<br>‘Make in India’ has identified 25 sectors in manufacturing, infrastructure and service activities and detailed information is being shared through interactive web-portal and professionally developed brochures.</p>
          <div class="button"><a href="#" >More Info</a></div>
        </div>
        <div class="right-column-content-img-right"> <img src="images/mii.jpg" alt="banner" width="170" height="150" /> </div>
      </div>
      <div class="right-column-content">
        <div class="right-column-content-heading">
          <h1> Swachh Bharat Mission</h1>
          
        </div>
        <div class="right-column-content-img-left"> <img src="images/sba.png" alt="banner" width="205px" height="180px"/> </div>
        <div class="right-column-content-content">
          <p>  Swachh Bharat Mission was launched in the entire country as a national movement. The campaign aims to achieve the vision of a ‘Clean India’ by 2nd October 2019.</p>
          <p>  The Swachh Bharat Abhiyan is the most significant campaign with regards to sanitation by the Government of India.</p>
          <div class="button"><a href="#" >More Info</a></div>
        </div>
      </div>
      <div class="right-column-content">
        <div class="right-column-content-heading">
          <h1>PM CARES Fund</h1>
          
        </div>
        <div class="right-column-content-img-left"> <img src="images/pmcf.jpg" alt="banner" width="190px" height="200px"/> </div>
        <div class="right-column-content-content">
          <p> Prime Minister’s Citizen Assistance and Relief in Emergency Situation Fund: Is a public charitable trust initiated by the Prime Minister Narendra Modi. This national trust is created with the objective to meet the distressed and dreadful situation like COVID-19 in times ahead.</p>
          <p>  PM CARES was initiated on March 28, 2020, under the chairmanship of the Indian Prime Minister with Ministry of Home Affairs, Defence Minister and Finance Minister as the ex-officio Trustee.</p>
          <div class="button"><a href="#" >More Info</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-wrapper">
  <div class="footer-top"></div>
  <div class="footer-center">
    <div class="footer-content-left">
      <h1>About Us</h1>
      
      <p> This site is developed with an objective to enable a single window access to information and services being provided by the various Indian Government entities.</p>
    </div>
    <div class="footer-content-right">
      <h1>Contact Us</h1>
      <h3>Email: untitled@example.com</h3>
      <h3>Phone: 1800-300-1000 </h3><br>
    </div>
  </div>
  <div class="footer-bottom"></div>
</div>
<div class="clear"></div>
<div class="copyrights">Copyright (c)  
  <div class="copyrights-bottom"></div>
</div>
</body>
</html>